.custom{
    --bs-popover-bg: #07155e;
    --bs-popover-border-color: white;
    padding: 10px;
}

#boton-usuario-popover{
    background-color: #0AD3FF;
    width: 150px;
    height: 40px;
}

#boton-admin-popover{
    background-color: #73FF9A;
    width: 150px;
    height: 40px;
}

#presentacion{
    background: linear-gradient(to right, #0084ff, #0ad3fe);
    color: #f5f5f5;
}

#seccion-faq{
    background-color: #0084FF;
    color: #F5F5F5;
}

#justificado{
    text-align: justify;
}
