
.container{
    display: block;
    padding: 100px;
    background-color: rgb(5, 182, 70);
    width: 1000px;
    height: 500px;
    position: relative;
    left: 1rem;
    top: 100px;
    border-radius: 25px;
}


.mb-3{
    position: relative;
    top: 50px;
    color: white;

}

#btn{
    position: relative;
    left: 555px;
    top:80px;
    width: 200px;
    height: 40px;    
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    left: 255px;
    top: -390px;
}

.logo-container img {
    width: 400px;
    height: auto;
    border-radius: 25px;
}